step_function_code.json
{
  "Comment": "A description of my state machine",
  "StartAt": "StartCrawler",
  "States": {
    "StartCrawler": {
      "Type": "Task",
      "Arguments": {
        "Name": "flights-data-crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "GetCrawler"
    },
    "GetCrawler": {
      "Type": "Task",
      "Arguments": {
        "Name": "flights-data-crawler"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait",
          "Condition": "{% ($Crawler.State) = (\"RUNNING\") %}"
        }
      ],
      "Default": "Glue StartJobRun"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetCrawler"
    },
    "Glue StartJobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Arguments": {
        "JobName": "flight_data_ingestion"
      },
      "Next": "Choice (1)",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Failed_Notification"
        }
      ]
    },
    "Choice (1)": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Success_Notification",
          "Condition": "{% ($JobRunState) = (\"SUCCEEDED\") %}"
        }
      ],
      "Default": "Failed_Notification"
    },
    "Failed_Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}",
        "TopicArn": "arn:aws:sns:us-east-2:883467885365:mytopic"
      },
      "End": true
    },
    "Success_Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}",
        "TopicArn": "arn:aws:sns:us-east-2:883467885365:mytopic"
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}